
@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}

@*<div class="container mt-5">*@

    <!-- Table for displaying loan requests -->
    
    <div class="table-container mt-3">
        @if (Model.Rows.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Leave Type</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <tr>
                            <td>@dr["LeaveId"].ToString()</td>
                            <td>@dr["LType"].ToString()</td>
                            <td>@dr["FromDate"].ToString()</td>
                            <td>@dr["Todate"].ToString()</td>
                            <td>@dr["Description"].ToString()</td>

                            <td>
                                @*@Html.ActionLink("Edit", "EditDeduction", new { did = dr["DeductionId"].ToString() }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Delete", "DeleteDeduction", new { did = dr["DeductionId"].ToString() }, new { @class = "btn btn-danger" })*@
                                <button class="btn btn-success">Approve</button>
                                <button class="btn btn-danger">Deny</button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span> No Records Found..</span>
        }
    </div>
@*</div>*@




