@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable

@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}


<!-- Table for displaying loan requests -->

<div class="table-container mt-3">
    @if (Model.Rows.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["EmployeeId"].ToString()</td>
                        <td>@dr["LType"].ToString()</td>
                        <td>@dr["FromDate"].ToString()</td>
                        <td>@dr["Todate"].ToString()</td>
                        <td>@dr["Description"].ToString()</td>

                        <td>
                            @Html.ActionLink("Approve", "LeaveStatusUpdate", new { Leaveid = dr["LeaveId"].ToString(), status = "approve" }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Deny", "LeaveStatusUpdate", new { Leaveid = dr["LeaveId"].ToString(), status = "deny" }, new { @class = "btn btn-danger" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span> No Records Found..</span>
    }
</div>
@*</div>*@




