@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    ViewBag.Title = "Loan";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}

    <!-- Table for displaying loan details -->
    
    <div class="table-container mt-3">
        @if (Model.Rows.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Loan Number</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <tr>
                            <td>@dr["EmployeeId"].ToString()</td>
                            <td>@dr["LoanNo"].ToString()</td>
                            <td>@dr["Description"].ToString()</td>
                            <td>
                                @Html.ActionLink("Approve","LoanStatus", new { Lid = dr["LoanId"].ToString(),status = true }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Deny", "LoanStatus", new { Lid = dr["LoanId"].ToString(), status = false }, new { @class = "btn btn-danger" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span> No Records Found..</span>
        }
    </div>
