@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable

@{
    ViewBag.Title = "ViewEmployee";
    Layout = "~/Views/shared/AdminMaster.cshtml";

}

<div class="container mt-5">
   
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            @Html.ActionLink("Create Account", "CreateEmployee", "Admin", null, new { @class = "nav-link", id = "create-tab", role = "tab", aria_controls = "create" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("View Employees", "ViewEmployee", "Admin", null, new { @class = "nav-link active", id = "view-tab", role = "tab", aria_controls = "view" })
        </li>
    </ul>
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
            <div class="table-container mt-3">
                @if (Model.Rows.Count > 0)
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Department</th>
                                <th>Designation</th>
                                @* <th>Salary</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["EmployeeId"].ToString()</td>
                                    <td>@dr["Fname"].ToString()</td>
                                    <td>@dr["Lname"].ToString()</td>
                                    <td>@dr["Department"].ToString()</td>
                                    <td>@dr["Designation"].ToString()</td>
                                    <td>
                                        <button class="btn btn-success">Edit</button>
                                        <button class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span> No Records Found..</span>
                }
            </div>
        </div>
    </div>
</div>
