@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable

@{
    ViewBag.Title = "ViewDeduction";
    Layout = "~/Views/shared/AdminMaster.cshtml";

}

<div class="container mt-5">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            @Html.ActionLink("Create Deduction", "CreateDeduction", "Admin", null, new { @class = "nav-link active", id = "create-tab", role = "tab", aria_controls = "create", aria_selected = "true" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("View Deduction", "ViewDeduction", "Admin", null, new { @class = "nav-link", id = "view-tab", role = "tab", aria_controls = "view", aria_selected = "false" })
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
            <div class="table-container mt-3">
                @if (Model.Rows.Count > 0)
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Deduction ID</th>
                                <th>Deduction Name</th>
                                <th>Percentage</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["DeductionId"].ToString()</td>
                                    <td>@dr["Dname"].ToString()</td>
                                    <td>@dr["Percentage"].ToString()</td>
                                    <td>@dr["Amount"].ToString()</td>

                                    <td>
                                        @Html.ActionLink("Edit", "EditDeduction", new { eid = dr["DeductionId"].ToString() }, new { @class = "btn btn-success" })
                                        @Html.ActionLink("Delete", "DeleteDeduction", new { eid = dr["DeductionId"].ToString() }, new { @class = "btn btn-danger" })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span> No Records Found..</span>
                }
            </div>
        </div>
    </div>
</div>
